.backroundColor{
    background-color: #1A0B2E;
}
.hedar{
    color: white;
    font-size: 48px;
    font-weight: 700px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.backroundColorForCard{
background-color: #250e44 ;
color: white;
width: 1020px;
height: 100%;
margin: auto;
border-radius: 20px;

}
.peragirap{
    font-size: 16px;
    font-weight: 400px;
    opacity: 60%;
    line-height: 24px;
    
}
.hedar1{
    text-align: start;
    font-size: 32px;
    font-weight: 700px;
}